<h1>{{title}}</h1>

<h2>templating topics:</h2>

<ul>
  <li>variables (escaped and unescaped)</li>
  <li>list of objects (#each)</li>
  <li>boolean (#if and else)</li>
  <li>comments (!-- --)</li>
  <li>partials: <a href="https://github.com/pillarjs/hbs#helpers-and-partials">register directory</a>, &gt;</li>
  <li><a href="https://stackoverflow.com/a/30468173/293087">switch layout</a> (`layout: foo` in handler context)</li>
</ul>

<hr>
<h2>ajax topics:</h2>

<ul>
  <li><a href="http://api.jquery.com/jQuery.post/">jQuery.post</a></li>
  <li><a href="http://api.jquery.com/html/">jQuery.html</a></li>
</ul>

<form action="/ajax/test" method="post">
  msg:
  <input type="text" name="msg" id="msgInput">
  <input type="submit" value="ye old submit button">
  <button type="button" id="btn">ajax!</button>
</form>
